
<div class="Home container">
    <div class="row">
    <div>
    <div class="home-left ">
        <div class="header fadeInUp" style="animation-delay: 0.5s;">
            <div class="header-mid row">
                <div class="titles col-md-7">
                    <h1>COVID-19 Tracker <span class="badge badge-danger blink"> LIVE </span></h1>
                </div>
                <div class="col-md-3"  style="text-align:right">
                    <span routerLink="/home">India </span> | <span routerLink="/country"> World </span>
                </div>

            </div>
        </div>
        <div class="row" *ngFor="let s of dis">
            <div class="col">
            <h1 class="state-name fadeInUp" style="animation-delay: 0ms; color:#e23028">{{s.state}} </h1>
            </div>
        <table class="table table-striped table-hover  fadeInUp col-md-12" style="animation-delay: 1s; ">
            <thead>
                <tr>
                    <th  class="sticky state-heading ">
                        <div class="heading-content "><abbr title="State ">Country</abbr>
                            <div class="" ></div>
                        </div>
                    </th>
                    <th  class="sticky ">
                        <div class="heading-content "><abbr class="confirmed " title="Confirmed ">Confirmed</abbr>
                            <div class="" ></div>
                        </div>
                    </th>
                    <th class="sticky ">
                        <div class="heading-content "><abbr class="active-cases " title="Active ">Active</abbr>
                            <div class="" ></div>
                        </div>
                    </th>
                    <th class="sticky ">
                        <div class="heading-content "><abbr class=" recovered" title="Recovered ">Recovered</abbr>
                            <div class="" ></div>

                        </div>
                    </th>
                    <th class="sticky ">
                        <div class="heading-content "><abbr class="death" title="Deaths ">Deaths</abbr>
                            
                        </div>
                    </th>
                </tr>
            </thead>
            

            <tbody *ngFor="let s of dis">
                <tr class="state " *ngFor="let d of s.districtData; let ndx = index">
                    <td  style="font-weight: 600; " >{{d.district}}</td>
                    <td style="color: inherit; ">{{d.confirmed}}</td>
                    <td style="color: inherit; ">{{d.active}}</td>
                    <td style="color: inherit; ">{{d.recovered}}</td>
                    <td style="color: inherit; ">{{d.deceased}}</td>

                </tr>
            </tbody>

        </table>
        </div>
        </div>
    </div>
</div>
